
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12;
}

table {
    margin-bottom: 10px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;
    background-color: bisque;
  }
  
  thead th:nth-child(1) {
    width: 15%;
  }
  
  thead th:nth-child(2) {
    width: 10%;
  }
  
  thead th:nth-child(3) {
    width: 5%;
  }
  
  thead th:nth-child(4) {
    width: 40%;
  }
  thead th:nth-child(5) {
    width: 30%;
  }
  
  th, td,thead{
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
  }
  thead{
    font-size: 12px;
      background-color: black;
      color: white;
  }

  td span{
      float: right;
      font-size: 9px;
      margin-left: 10px;
      padding: 5px 12px;
      color: white;
      border: 1px solid white;
      box-shadow: 2px 2px 2px 2px #888888;
  }

  img {
    height: 130px;
    width: 200px;
    padding: 10 100 10 100;
  }
  .delete{
      background-color: red;
  }
  .update{
      background-color: rgb(37, 202, 37);
  }
  .create{
    font-size: 9px;
    padding: 9px 12px;
    color: white;
    margin-top: 20px;
    background-color: blueviolet;
    border: 1px solid black;

  }

  .form-container h1{
    text-align: center;
    font-weight: bolder;
    margin: 50px;
  }

  input[type=text],input[type=file], select {
    background-color: rgb(255, 247, 247);
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label{
    display: inline-block;
    width: 20%;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
  }
  input[type=submit], input[type=reset]{
    width: 10%;
    color: white;
    padding: 14px 20px;
    margin: 10px 10px 0px 10px;
    border: 3px solid rgb(211, 210, 210);
    border-radius: 4px;
    cursor: pointer;

  }

  input[type=submit] {
    background-color: green;
  }

  input[type=reset] {
    background-color: orange;
  }
  .flex-container{
    display: flex;
    justify-content: flex-end;
  }
  .flex-container-update{
    display: none;
    justify-content: flex-end;
  }

  .add-new a{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .form-container{
  border: 3px solid black;
	background: rgb(255, 247, 247);
  display: block;
  }

  .places-table{
    margin-bottom: 30px;
    display: none;
  }

  .back-to-list{
    position: relative;
    text-align:  right;
  }

.autocomplete {
  position: relative;
  display: block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 30%;
  right: 0;
}

.autocomplete-items div {
  width: 40%;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
  
